<!DOCTYPE html>
<html lang="en" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>products</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css"rel="stylesheet">

</head>
<body>

	<div class= "container">
	    <div class="col-12">
<!-- 	         <h3 class="text-center">Add a product</h3>
	         <hr>
	         <ul class="list-inline">
	          <li class="list-inline-item"><a href="/addProduct.html">add product</a></li>
	          <li class="list-inline-item"><a href="/listProducts.html">List of Products</a></li>
	         </ul> -->
	         
	         
	         <nav class="navbar navbar-expand-sm navbar-Light" style="background-color:#e3f2fd;">
				<ul class="navbar-nav">
  					<li class="nav-item">
					<a class="nav-link font-weight-bold" href="/addProduct.html">Add Product</a>
  					</li>
 					<li class="nav-item">
					<a class="nav-link font-weight-bold" href="/listProducts.html"> List of Products</a>
 				    </li>
				</ul>
			</nav>
			<hr>
			<h3 class="text-center">AddaProduct</h3>
			<hr>
			<div class="row">
			<div class="col-md-6 mx-auto">
    		<div class="card">
        	<div class="card-body">
	 	          	<form action="/addp" method="Post" enctype="multipart/form-data">
	  				<div class="form-group">
		  				<label for="productCode">Product code</label>
		   				<input type="text" name="productCode" id="productCode" class="form-control">
		   				<label for="productName">Product name</label>
		   				<input type="text" name="productName" id="productName" class="form-control">
		   				<label for="buyPrice">Product price</label>
						<input type="number" name="buyPrice" id="buyPrice" class="form-control">
						<label for="productDescription">Product description</label>
						<input type="text" name="productDescription" id="productDescription" class="form-control">
						<label for="productLine">Product line</label>
						<input type="text" name="productLine" id="productLine" class="form-control">
						<label for="quantityInStock">quantity In Stock</label>
						<input type="text" name="quantityInStock" id="quantityInStock" class="form-control">
						<br>
						<label>add image</label>
						<div class="custom-file">
 							 <input type="file" name="file" class="custom-file-input" id="customFile">
 							 <label class="custom-file-label" for="customFile">Choose file</label>
						</div>
						<br><br>
						
						<button type="submit" class="btn btn-primary" >submit</button>         
					</div>
	         	</form>
	         	<hr>
	        </div>
	   		</div>
			</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.js"></script>

</body>
</html>


